html {
    display: grid;
    height: 100%;
    background-color: #f8f9fa;
}

body {
    display: flex;
    height: 100%;
}
div.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    column-gap: 10px;
    padding: 0px 20px;
    
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    height: 100%;
    width: 100%;
}

/** Navigation **/
div.nav-container {
    min-width: 240px;
    width: 30%;
    max-width: 240px;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: start;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    min-height: 480px;  
    height: 80%;
}
nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    row-gap: 10px;
    flex: 1;
}

nav > ul > li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

nav > ul > li > a {
    
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: #495057;
    font-size: 2rem;
    font-weight: 600;
}

nav > ul > li > a:hover {
    background-color: #e9ecef;
}

.active {
    background-color: #e9ecef;
}


/** General **/
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #495057;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #495057;
    width: 100%;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #495057;
}
small {
    font-size: 0.9rem;
    color: #6c757d;
}

strong {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    color: #495057;
    text-align: center;
}

blockquote {
    font-size: 1.5rem;
    font-style: italic;
    color: #495057;
    text-align: center;
}

.highlight {
    color: #933649;
    font-weight: 600;
}

strong.highlight {
    font-weight: 600;
}

blockquote.highlight {
    color: #933649;
    font-weight: 600;
}
main > section {
    
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    width: 100%;
}

main > section > p {
    text-align: left;

}

a {
    color: #495057;
    text-decoration: underline;
    font-weight: 600;
}
/** Home **/

#main {
    display: flex;
    min-height: 380px;
    width: 35%;
    flex-direction: column;
    justify-content: start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 90%;
    min-width: 600px;
    gap: 20px;

}

.home-main {
    align-items: center;
    gap: 40px;
}

.home-title {
    flex-basis: 30%;
    display: flex;
    align-items: end;
    text-align: center;
}

.info strong {
    font-size: 1.5rem;
}

.info span {
    font-size: 1.3rem;
}

.info {
    flex-basis: 70%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.short-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-bio {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.home-image {
    width: 180px;
    height: auto;
    border-radius: 10px;
}
/** Mediation Wozu **/

main.mediation-wozu > section > strong {
    text-align: center;
    display: block;
    font-weight: 600;
    color: #495057;
}

.title {
    padding-bottom: 10px;
}

.mediation-wozu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

img.mediation-wozu-image {
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.mediation-header-title {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
}
.mediation {
    gap: 20px;
}

/** Co-Mediation **/


.contacts {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.co-mediation-image {
    width: auto;
    height: 100px;
    border-radius: 10px;
}

figure {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #495057;
}

.contact {
    display: flex;
    column-gap: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.contact-info > li {
    font-size: 1rem;
    color: #495057;
}

/** Bio **/
.bio > section {
    gap: 10px;
}

li.how-to-contact {
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
    font-weight: 600;
    font-size: 1rem;
}

/** Contact **/
figure.main-contact {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    text-align: left;
    width: 100%;
    max-width: unset;
    justify-content: start;
}

figure.main-contact > figcaption {
    flex:1;
    padding: 20px;
}

figure.main-contact > figcaption > h3 {
    text-align: left;
}

figure.main-contact > figcaption > p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 200;
    color: #495057;
}

figure.main-contact > figcaption > section > p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 200;
    color: #495057;
}

#main.main-contact-container {
    align-items: start;
}

#main.main-contact-container > section {
    gap: 5px;
}

/** High resolution Screens **/

@media (min-width: 1921px) {
    h1 {
        font-size: 3rem;
    }
    img.mediation-wozu-image {
        max-width: 200px;
    }
    div.container {
        display: flex;
        padding: 20px;
    }
    div.nav-container {
        min-width: 240px;
        width: 20%;
        max-width: 240px;
    }
    nav {
        max-height: 900px;
    }
    nav > ul > li > a {
        font-size: 2.5rem;
    }
    #main {
        max-height: 1000px;
    }
    .home-image {
        width: 200px;
    }
    .co-mediation-image {
        width: 135px;
        height: 180px;
    }
    .burger-menu {
        display: none;
    }
    p, h5, strong, .info span {
        font-size: 1.5rem;
    }
    small {
        font-size: 1.2rem;
    }
    blockquote {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    a {
        font-size: 1.5rem;
    }
    .contact-info > li { 
        font-size: 1.1rem;
    }
    .contact-info > li > a { 
        font-size: 1.1rem;
    }

    figcaption {
        font-size: 1.2rem;
    }
    figure.main-contact > figcaption > section > p {
        font-size: 1.5rem;
    }
    figure.main-contact > figcaption > p {
        font-size: 1.2rem;
    }
    figure {
        max-width: fit-content;
        align-items: center;
    }
}


/** Mobile Navigation **/

@media (max-width: 960px), screen and (orientation: portrait) {
    :root {
        --bar-width: 40px;
        --bar-height: 6px;
        --hamburger-gap: 6px;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
        --hamburger-margin: 20px;
        --animation-timing: 0.3s ease-in-out;
        --hamburger-total-height: calc(var(--hamburger-height) + var(--hamburger-margin) * 2);
    }
    /** Burger Menu **/
    .burger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        align-self: start;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        position: absolute;
        left: var(--hamburger-margin);
        top: var(--hamburger-margin);
    }
    .burger-menu span{
        display: block; 
        width: var(--bar-width);
        height: var(--bar-height);
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 2;
        transform-origin: left center;

        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }
    
    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    /*
     * Ohyeah and the last one should go the other direction
     */
     .burger-menu.open span:nth-child(1) {
        width: var(--x-width);
        rotate: 45deg;
        background: #232323;
        translate: 0 calc(var(--bar-height) / -2)
     }

    .burger-menu.open span:nth-child(3) {
        width: var(--x-width);
        rotate: -45deg;
        background: #232323;
        translate: 0 calc(var(--bar-height) / 2)
    }
    
    /*
     * Middle bar.
     */
     .burger-menu.open span:nth-child(2){
        opacity: 0;
        width: 0px;

    }

    /** General **/
    
    h1.title {
        font-size: 2rem;
    }
    img.mediation-wozu-image {
        max-width: 120px;
    }
    #main.co-mediation {
        width: 100%;
    }
    div.container {
        display: block;
        padding: 20px;
    }


    /** Navigation **/

    nav {
        display: flex;
        position: absolute;
        align-self: start;
        min-height: fit-content;
        left: 0;
        top: 0;
        height: auto;
        padding-top: var(--hamburger-total-height);
        transition: translate var(--animation-timing);
    }

    nav {
       translate: -100%;
    }

    nav.open {
        translate: 0;
    }

    div.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0px;
        padding: 0;
    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 70px;
        min-width: 300px;
        height: 100%;
        width: 100%;
        gap: 10px;
    }

    .home-bio {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .mediation-wozu-header {
        width: 100%;
    }
    figure.main-contact > figcaption {
        padding: 20px 0px;
    }
}

@media (max-width: 580px) {
    body {
        padding: 0px;
    }
    div.root {
        padding: 0px 20px;
    }
    div.container {
        padding: 0px;
    }
    #main {
        height: 100%;
    }
    nav {
        padding-top: var(--hamburger-total-height);
        height: calc(100% - var(--hamburger-total-height) - 40px);
    }
    nav > ul {
        gap: 10px;
        justify-content: space-evenly;
    }
    nav.open > ul > li > a{
        font-size: 2.0rem;
    };
}