.background-editor {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 30px;

}

.text-editor {
	display: flex;
	flex-direction: column;
	width: 40%;
	min-width: 300px;
	gap: 20px;
}