.post-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}
.level-editor-post {
    margin-left: 10px;
    border-left: 1px solid #ccc;
    gap: 10px;
}
.post-edit-reply-to {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    gap: 10px;
    margin-left: 40px;
    align-self: center;
}
.post-edit-reply-to > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.post-edit-reply-to > textarea {
    width: 100%;
}