

.user-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 80%;
}

.user-edit-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.user-edit-avatar .user-profile-picture {
    cursor: pointer;
}

.user-edit-posts {
    width: 100%;
}

.user-edit-post > textarea{
    width: 100%;
}

button.post-edit-delete {
    width: 28px;
    height: 28px;
    align-self: end;
    justify-self: start;
    padding: 0;

}
.post-edit-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.post-edit-reactions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    justify-self: end;
    width: 60%;
    min-width: 200px;
    max-width: 650px;
    flex-wrap: wrap;
}
.post-edit-reactions > button {
    min-width: 200px;
    padding: 0;
}
.reaction-input {
    width: 90%;
    text-align: right;
}

.reaction {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 40%;
    min-width: 100px;
    max-width: 110px;
}

.user-edit-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-edit-bio {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-edit-timestamp {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-edit-verified {
	display: flex;
	flex-direction: row;
	gap: 10px;
}