#survey {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50%;
}
.survey-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.survey-decision {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	max-width: 800px;
}
.survey-decision > p {
	font-size: 1.2rem;
	font-weight: bold;
}
.survey-answers {
	display: flex;
	justify-content: space-around;
	gap: 10px
	
}
.survey-answers > label {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}