.editor {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    max-width: 100vw;
    width: 100%;
    gap: 20px;
}

textarea {
    resize: none;
}